* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
}

body {
    /*Background Image*/
    background-image: url(/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    color: rgb(110, 33, 33);
    text-align: center;
}

    /*Quiz Headings*/
.quiz {
    padding: 30px 0;
}

.quiz h2 {
    color: rgb(32, 11, 11);
    text-align: center;
}
    /*Buttons*/
.button{
    background-color: rgb(204, 188, 141);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
}
.button:hover{
    background: rgb(214, 214, 214);
}

#button_next{
    background: rgb(216, 184, 5);
    width: 100px;
    cursor: pointer;
    padding: 10px;
    margin: 20px 440px 0;
    border-radius: 5px;
}