* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
}

body {
    /*Background Image*/
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h3 {
    color: rgb(83 26 36);
    text-align: center;
    font-family: sans-serif;
}

    /*Quiz Headings*/
.quiz {
    padding: 30px 0;
}

.quiz h2 {
    color: rgb(32, 11, 11);
    text-align: center;
}
    /*Buttons*/
.button{
    background-color: rgb(204, 188, 141);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
}
.button:hover:not([disabled]){
    background: rgb(214, 214, 214);
}
.button:disabled{
    cursor: no-drop;
}

#button_next{
    background: rgb(216, 184, 5);
    width: 100px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 222px 0;
    border-radius: 5px;
}
.correct{
    background: green;
}
.incorrect{
    background: red;
}

#start-quiz-button{
    width: 100px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background: rgb(216, 184, 5);
    border-radius: 5px;
}

/* Welcome Page */
.welcome-page{
    background: #fff;
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.welcome-page h1{
    font-size: 70px;
}
.username-display{
    text-align: center;
    margin: 30px
}

#username{
    margin: 10px;
    width: 40%;
    max-width: 500px;
    min-width: 165px;
}

.footer {
    text-align: center;
    background-color: rgba(51, 51, 51, 0);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }


/* Media for mobile screens */
@media (max-width: 768px) {
    body {
        background-image: url("../images/bg.jpg");
    }
}